@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  @media(min-width: 768px){

.slim-input{
  appearance: slider-vertical;
}
  }
.grid-auto{
grid-template-columns:  repeat( auto-fit, minmax(50px, 1fr) );
}
}

@font-face {
  font-family: doom;
  src: url(./assets/AmazDooMLeft2.ttf)
}

html, body, #root {
  height: 100%;
}

h1 {
  font-family: doom;
}

